[network]
background={{ i3wm_i3blocks_colors.primary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/network
interval=5
label=<span foreground='{{ i3wm_i3blocks_colors.primary_bg }}' background='{{ i3wm_i3blocks_colors.secondary_bg }}' size='x-large'> </span>
markup=pango
separator_block_width=0

[volume]
background={{ i3wm_i3blocks_colors.secondary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/volume
interval=1
label=<span foreground='{{ i3wm_i3blocks_colors.secondary_bg }}' background='{{ i3wm_i3blocks_colors.primary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.secondary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[toggle_idle]
background={{ i3wm_i3blocks_colors.primary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/toggle_idle
interval=1
label=<span foreground='{{ i3wm_i3blocks_colors.primary_bg }}' background='{{ i3wm_i3blocks_colors.secondary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.primary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[cpu]
background={{ i3wm_i3blocks_colors.secondary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/cpu
interval=1
label=<span foreground='{{ i3wm_i3blocks_colors.secondary_bg }}' background='{{ i3wm_i3blocks_colors.primary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.secondary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[memory]
background={{ i3wm_i3blocks_colors.primary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/memory
interval=5
label=<span foreground='{{ i3wm_i3blocks_colors.primary_bg }}' background='{{ i3wm_i3blocks_colors.secondary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.primary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[disk]
background={{ i3wm_i3blocks_colors.secondary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/disk
interval=60
label=<span foreground='{{ i3wm_i3blocks_colors.secondary_bg }}' background='{{ i3wm_i3blocks_colors.primary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.secondary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[temperature]
background={{ i3wm_i3blocks_colors.primary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/temperature
interval=1
label=<span foreground='{{ i3wm_i3blocks_colors.primary_bg }}' background='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.primary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[battery]
background={{ i3wm_i3blocks_colors.secondary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/battery
interval=5
label=<span foreground='{{ i3wm_i3blocks_colors.secondary_bg }}' background='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.secondary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[date]
background={{ i3wm_i3blocks_colors.primary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/date
interval=5
label=<span foreground='{{ i3wm_i3blocks_colors.primary_bg }}' background='{{ i3wm_i3blocks_colors.secondary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.primary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

[time]
background={{ i3wm_i3blocks_colors.secondary_bg }}
color={{ i3wm_i3blocks_colors.text_color }}
command={{ i3wm_i3blocks_scripts_dir }}/time
interval=1
label=<span foreground='{{ i3wm_i3blocks_colors.secondary_bg }}' background='{{ i3wm_i3blocks_colors.primary_bg }}' size='x-large'> </span><span background='{{ i3wm_i3blocks_colors.secondary_bg }}'><span foreground='{{ i3wm_i3blocks_colors.separator_color }}' size='x-large'></span> </span>
markup=pango
separator_block_width=0

